services:
  - type: web
    name: dating-app-api
    env: node
    rootDir: /
    buildCommand: npm install
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000